* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


#add-item-modal, 
#add-project-modal {
    display: none;
    padding: 10px;
}

#add-item-form-bottom {
    display: flex;
    width: 450px;
    margin-top: 10px;
    justify-content: right;
    gap: 5px;
}

#new-item-title {
    padding: 3px;
    width: 440px;
}



#content {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    /* flex-direction: column; */
    min-height: 100%;
    height: 100%;
    background-color: #323232;
    background-color: #303030;
    /* background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23323232' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E"); */

}

#sidebar {
    width: 225px;
    height: auto;
    background-color: rgb(32, 32, 32);

}

.menu-title {
    font-size: 1.5rem;
}

.collapsible {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 5px;
    text-align: left;
    color:rgb(228, 228, 228)

}

.sidebar-menu-active, .collapsible:hover {
    background-color: #ccc;
}

#sidebar-projects-dropdown,
#sidebar-tasks-dropdown {
    display: none;
    padding: 10px;
    list-style-type: none;
}

label {
    text-align: right;
}

input {
    height: 35px;
}



.project-card {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: auto;
    
    margin: 10px;
    margin-top: 75px;
    padding: 25px;
    padding-top: 0;
    /* box-shadow: -4px 4px black;
    border: 1px solid black;
    border-radius: 50px; */
    
}

.project-card-header {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-left: 8px;
    margin-bottom: 15px;
    color: white;
    /* background-color: rgb(138, 138, 138); */

}

.project-card-title {
    font-size: 4.0rem;
}



.project-card-btn-container {
    display: flex;
    gap: 5px;
}

.project-item-card-container {
    position: fixed;
    margin-top: 220px;
    width: auto;
}

.project-card-complete {
    background-color: rgb(240, 240, 240);
    opacity: 35%;
}

.project-card-title {
    display: inline-block;
    width: 75%;
}

.project-card-add-item-btn {
    /* display: none; */
    /* display: inline-block; */
    font-size: 2.5rem;
    color: lightgray;
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    height: 30px;
    width: 425px;
    margin-bottom: 15px;
    padding: 10px;
}

.project-card-add-item-btn::before {
    content: '+';
    position: absolute;
}

.project-card-add-item-btn:hover {
    background-color: rgb(228, 228, 228);
}

#modal-calendar {
    width: auto;
    font-size: 0.9rem;
    /* color: lightgray; */
    width: 105px;
    border-radius: 15px;
}

#calendar-modal {
    display: none;
}

.calendar-modal-active,
.priority-modal-active {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(67, 136, 84);
    padding: 10px;
    border-radius: 15px;
    margin-left: 102px;
    margin-top: 110px;
}



#calendar-modal-calendar-btn,
#priority-modal-priority-btn {
    width: 30;
    height: 30;
    font-size: 1.5rem;
    background-color: white;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 3px pink;
    transition-duration: 0.1s;
}

#calendar-modal-calendar-btn:hover, 
#priority-modal-priority-btn:hover {
    scale: 1.1;
}

#priority-modal {
    display: none;
}

#calendar-form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 30px;
    width: auto;
    /* width: auto; */
    gap: 5px;
}

#calendar-modal-btn-container {
    display: flex;
    /* flex-direction: column; */
    gap: 2px;
}

#calendar-modal-btn-container > button {
    width: auto;
}

.modal-button {
    margin-right: 5px;
}

.item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 70, 70);
    margin-bottom: 15px;
    border: 2px solid rgb(68, 68, 68);
    padding: 15px;
    width: fit-content;
    /* padding-left: 0; */
    /* border: 1px dotted rosybrown; */
    border-radius: 15px;
    box-shadow: -4px 4px rgb(238, 78, 78);
    transition: .1s;
    color: white;
}

/* .item-card:after {
    position: absolute;
    content: '';
    width: 100%;
    border: 2px solid black;
} */

.item-card:hover {
    box-shadow: none;
}


.item-card-left {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.item-card-right {
    display: flex;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    color: rgb(151, 151, 151);
}

.item-card-complete {
    opacity: 15%;
}

.item-card-complete .item-complete-btn {
    background-color: lightgreen;
}

.item-card-btn-container {
    display: flex;
    gap: 5px;
}
.item-title {
    font-size: 1.25rem;
}
.item-description,
.item-due-date,
.item-priority {
    font-size: 0.8rem;
}

.item-critical {
    background-color: rgb(241, 224, 224);
    color: rgb(75, 75, 75);
}

.item-card-complete {
    opacity: 15%;
    text-decoration: line-through;
}



#header {
    padding: 10px;
    height: 50px;
    background-color: rgb(12, 18, 25);
    display: flex;
    align-items: center;   
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#header button {
    margin: 8px;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
background-color: #303030;
/* background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23323232' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");    width: 20000px; */
}

.projects-placeholder {
    margin: auto;
    display: flex;
    height: 90%;
    width: 90%;
    font-size: 1.5rem;
    font-style: italic;
    color:rgb(241, 224, 224);
    border: 5px dashed rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.projects-placeholder-text {
    color:rgb(230, 230, 230);
    text-align: center;
}

.projects-placeholder-text p {
    margin: 3px;
}

#footer {
    height: 50px;
    background-color: #AAA;
}

#header,
#footer {
    left: 10px;
    right: 10px;
}

.clear-local-storage-btn {
    background-color: rgb(186, 148, 224);
    color: white;
}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.delete-project-btn {
}

.complete-project-btn {

}

.item-complete-btn {
    width: 15px;
    height: 15px;
    background-color: rgb(43, 43, 43) ;
    border-radius: 25%;
    cursor: pointer;
}

/* .item-complete-btn::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15%;
    box-sizing: border-box;
    border-top: 2px solid rgb(68, 68, 68);
    border-right: 2px solid rgb(68, 68, 68);

} */

.item-complete-btn-low {
    border: 2px solid rgb(144, 238, 199);
}

.item-complete-btn-medium {
    border: 2px solid rgb(238, 232, 144);
}
.item-complete-btn-high,
.item-complete-btn-critical {
    border: 2px solid rgb(238, 144, 144);
}


.item-complete-btn-low:hover {
    background-color:rgb(144, 238, 199);
}
.item-complete-btn-medium:hover {
    background-color: rgb(238, 232, 144);
}
.item-complete-btn-high:hover,
.item-complete-btn-critical:hover {
    background-color: rgb(238, 144, 144);
}



    

.item-remove-btn,
.modal-close-btn {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 157, 157);
    border-radius: 50%;
    cursor: pointer;
    opacity: 20%;
}

.item-remove-btn:hover,
.modal-close-btn:hover {
    opacity: 40%;
    
}

.modal-close-btn {
    margin-left: 90%;
}

.no-display {
    display: none;
}