* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    /* background-color: oldlace; */
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 450px;
    height: 400px;
    padding: 10px;
    margin: 15px;
    box-shadow: 10px 10px tan;
}

.project-card-title {
    display: inline-block;
    width: 75%;
}

.delete-project-btn {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    height: 5px;
    width: 5px;
    margin-left: 98%;
}

.item-card {
    background-color: skyblue;
    padding: 15px;
    margin: 5px;
    margin-bottom: 15px;
    /* border: 1px dotted rosybrown; */
    /* border-radius: 35%; */
}
.item-title {
    font-size: 1.25rem;
}
.item-description,
.item-due-date,
.item-priority {
    font-size: 0.8rem;
}



#content {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: 50px;
    background-color: rgb(214, 234, 252);
}

#main {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    height: 100%;
    width: 100%;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: #AAA;
}

.opened {
    display: block;
}

.closed {
    display: none;
}

.clear-local-storage-btn {
    background-color: rebeccapurple;
    color: white;
}